.Navbar {
  background-color: $c-grey;
  color:#ffffff;
  // font-style:Rufina;
  grid-column: full-start / full-end;
  

  // .Main-nav{
  //   list-style:none;
  //   font-size:0.7em;
  //   margin:0;
  // }
}
